<body>
	<div class="title">
		<h1>View Your Character</h1>
</div>

{{#each PCs }}
    <h1> {{PC_name}}  </h1>
    <h1> {{PC_level}}  </h1>
    <h1> {{Race_name}}  </h1>
    <h1> {{Class_name}}  </h1>
    <h1> {{Notes}}  </h1>

{{/each}}

	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>
