<body>
	<h1>Results</h1>
<table>

	{{#each Spells}}
		<tr>
			<th>{{Spell_name}}</th>
			<th>{{Spell_level}}</th>
			<th>{{Casting_time}}</th>
			<th>{{Spell_range}}</th>
			<th>{{Components}}</th>
			<th>{{Duration}}</th>
			<th>{{Description}}</th>
		</tr>
	{{/each}}
	</tr>
</table>
</body>
