<body>
	<div class="title">
		<h1>View Your Character</h1>
</div>
<div class="charTable">
{{#each PCs }}
    <h1>Name: {{PC_name}}</h1>
    <h1>Level: {{PC_level}} <input type="text" id="level"><button type="button" id="levelbtn">Update</button></h1>
    <h1>Race: {{Race_name}}</h1>
    <h1>Class: {{Class_name}}</h1>
	  <h1>Armor Class: {{Armor_Class}} <input type="text" id="armor"><button type="button" id="acbtn">Update</button></h1>
	  <h1>Strength: {{Strength}} <input type="text" id="strength"><button type="button" id="strbtn">Update</button></h1>
	  <h1>Dexterity: {{Dexterity}} <input type="text" id="dex"><button type="button" id="dexbtn">Update</button></h1>
	  <h1>Wisdom: {{Wisdom}} <input type="text" id="wisdom"><button type="button" id="wisbtn">Update</button></h1>
	  <h1>Intelligence: {{Intelligence}} <input type="text" id="intell"><button type="button" id="intbtn">Update</button></h1>
	  <h1>Constitution: {{Constitution}} <input type="text" id="const"><button type="button" id="conbtn">Update</button></h1>
	  <h1>Charisma: {{Charisma}} <input type="text" id="charisma"><button type="button" id="chabtn">Update</button></h1>
	  <h1>Max HP: {{Max_HP}} <input type="text" id="maxhp"><button type="button" id="maxhpbtn">Update</button></h1>
	  <h1>Current HP: {{Current_HP}} <input type="text" id="currhp"><button type="button" id="curhpbtn">Update</button></h1>
    <h1>Description: {{Notes}} <input type="text" id="description"><button type="button" id="notesbtn">Update</button></h1>

{{/each}}

</div>
	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>

<script>
	var ac = document.getElementById("armor").value;
	var str = document.getElementById("strength").value;
	var dex = document.getElementById("dex").value;
	var wisdom = document.getElementById("wisdom").value;
	var intell = document.getElementById("intell").value;
	var cons = document.getElementById("const").value;
	var cha = document.getElementById("charisma").value;
	var maxhp = document.getElementById("maxhp").value;
	var curhp = document.getElementById("currhp").value;
	var notes = document.getElementById("description").value;

	document.getElementById("levelbtn").onclick = function(){

			var level = document.getElementById("level").value;
			var mahlink = window.location.pathname;
			mahlink += "/update/" + "PC_level/" + level;
//      console.log(mahlink);
      window.location.assign(mahlink);

	};



</script>
