<body>
	


	<div class="title">
		<h1>Search for spells...</h1>

	</div>
	<div class="directory">
		<h2>Class: 
			<select id="spclass">
				<option type="...">...</option>
				<option type="Bard">Bard</option>
				<option type="Cleric">Cleric</option>
				<option type="Druid">Druid</option>
				<option type="Paladin">Paladin</option>
				<option type="Ranger">Ranger</option>
				<option type="Sorcerer">Sorcerer</option>
				<option type="Warlock">Warlock</option>
				<option type="Wizard">Wizard</option>
			</select>
		</h2>	

		<div class="sbutton">
			<button id="lolo">Search...</button>
		</div>
	</div>

	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>

<table>

	{{#each Spells}}
		<tr>
			<th>{{Spell_name}}</th>
			<th>{{Spell_level}}</th>
			<th>{{Casting_time}}</th>
			<th>{{Spell_range}}</th>
			<th>{{Components}}</th>
			<th>{{Duration}}</th>
			<th>{{Description}}</th>
		</tr>
	{{/each}}
	</tr>
</table>


	<script>



		document.getElementById("lolo").onclick = function(){

			//getting input values from selection

			var cl = document.getElementById("spclass");
			var classs = cl.value;
		


			var link = "/spells/" + classs;
			var first = 0;


			window.location.assign(link);


		};
	</script>
</body>