<body>
	<div class="title">
		<h1>Search for spells...</h1>

	</div>
	<div class="directory">
		<h2>Name: <input type="text" name="sName"></h2>
		<h2>Class: 
			<select>
				<option type="">...</option>
				<option type="Bard">Bard</option>
				<option type="Cleric">Cleric</option>
				<option type="Druid">Druid</option>
				<option type="Paladin">Paladin</option>
				<option type="Ranger">Ranger</option>
				<option type="Sorcerer">Sorcerer</option>
				<option type="Warlock">Warlock</option>
				<option type="Wizard">Wizard</option>
			</select>
		</h2>	
		<h2>Level: 
			<select>
				<option type = "">...</option>
				<option type="<"><</option>
				<option type=">">></option>
				<option type="=">=</option>
			</select>
			<select>
				<option type="">...</option>
				<option type="0">0</option>
				<option type="1">1</option>
				<option type="2">2</option>
				<option type="3">3</option>
				<option type="4">4</option>
				<option type="5">5</option>
				<option type="6">6</option>
				<option type="7">7</option>
				<option type="8">8</option>
				<option type="9">9</option>
			</select>
		</h2>
		<h2>Casting Time: 
			<select>
				<option type="">...</option>
				<option type="Bonus Action">Bonus Action</option>
				<option type="1 Action">1 Action</option>
				<option type=">1 Action">>1 Action</option>
			</select>
		</h2>
		<div class="sbutton">
			<button type="spellb">Search...</button>
		</div>
	</div>

	<div class="button">
		<button type="button"><a href="/">Home</a></button>
	</div>
</body>

<table>

	{{#each Spells}}
		<tr>
			<th>{{Spell_name}}</th>
			<th>{{Spell_level}}</th>
			<th>{{Casting_time}}</th>
			<th>{{Spell_range}}</th>
			<th>{{Components}}</th>
			<th>{{Duration}}</th>
			<th>{{Description}}</th>
		</tr>
	{{/each}}
	</tr>
</table>